.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  font-weight: bold;
  font-family: 'Playfair Display', serif; /* Update font family here */
}

.title {
  text-align: center;
  margin-top: 0;
}

.quote-box {
  width: 80%;
  height: 35%;
  padding: 24px;
  background-color: #f8f8f8;
  border-radius: 4px;
  text-align: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Updated to space between */
  margin-top: 24px; /* Update margin top to create space above buttons */
}

.button-container .add-quote-button {
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  margin-left: auto; /* Added to move to right end corner */
}

.button-container .add-quote-button:hover {
  background-color: #f3f3f3;
}

.button-container .add-quote-button:focus {
  outline: none;
}

.button-container .add-quote-button:active {
  transform: scale(0.95);
}

.button-container .add-quote-button:active,
.button-container .add-quote-button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-container .add-quote-button::before {
  content: '+';
  margin-right: 4px;
}

.button-container .button {
  padding: 8px 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.button-container .button:hover {
  background-color: #f3f3f3;
}

.button-container .button:focus {
  outline: none;
}

.button-container .button:active {
  transform: scale(0.95);
}

.button-container .button:active,
.button-container .button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.button-container img {
  width: 80px;
  height: 80px;
}

.button-container .share-button {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border: ;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}

.button-container .share-button img {
  width: 16px;
  height: 16px;
}

.button-container .share-button:hover {
  background-color: #f3f3f3;
}

.button-container .share-button:focus {
  outline: none;
}

.button-container .share-button:active {
  transform: scale(0.95);
}

.button-container .share-button:active,
.button-container .share-button:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.title {
  position: absolute;
  top: 50px;
  font-size: 50px;
}

.button-container {
  height: 50px;
  width: 150px;
  color: rgb(249, 150, 20);
  font-weight: bolder;
}

.button {
  height: 50px;
  width: 100px;
  background-color: #f44336;
  color: #b82257;
  font-weight: bolder;
}

.quote-box, .share-button, .button{
  background-color: #f0f0f0;
  border: 10px;
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.5);
}

/* CSS for the popup box */
.add-quote-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* increase opacity for more blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* adjust as needed to ensure the popup is on top of other elements */
}

.add-quote-popup-content {
  background-color: #fff; /* background color of the popup */
  padding: 3rem; /* increase padding for more space inside the popup */
  width: 600px; /* increase width for a larger popup */
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8); /* box shadow for the popup */
}

.add-quote-popup h2 {
  margin-top: 0;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.add-quote-popup form {
  display: flex;
  flex-direction: column;
}

.add-quote-popup label {
  margin-bottom: 0.5rem;
  font-size: 25px;
  color: rgb(99, 13, 219);
}

.add-quote-popup textarea,
.add-quote-popup input[type="text"] {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 500px;
  font-size: 20px;
  padding-left: 100px;
}

.add-quote-popup-buttons {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
}

.add-quote-popup-buttons button {
  margin-left: 0.5rem;
}


/* Add the backdrop-filter property to apply the blur effect */
.quote-generator::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(20px); /* increase the blur intensity as needed */
  z-index: 998; /* adjust as needed to ensure the blur effect is below the popup */
}

.title {
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}

.wikipedia-box {
  background-color: #f8f8f8;
  border: 1px solid #333;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wikipedia-box img {
  max-width: 100px;
  margin-right: 20px;
}

.wikipedia-box p {
  margin: 0;
}

.share-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.share-button {
  width: 50px; /* Update button width as needed */
  height: 50px; /* Update button height as needed */
  margin: 100 100px; /* Add margin between buttons as needed */
  border: none;
  background-color: #333; /* Update button background color as needed */
  border-radius: 0; /* Make buttons square */
}

.share-button img {
  width: 500%; /* Make image inside buttons fill the entire button */
  height: 500%; /* Make image inside buttons fill the entire button */
  object-fit: cover; /* Maintain aspect ratio of image */
  object-position: center; /* Center the image inside the button */
}

.feedback-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 500px;
  background-color: rgba(0, 0, 0, 1.5);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}


.feedback-title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.feedback-textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  font-size: 20px;
}

.feedback-send {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.feedback-close {
  width: 100%;
  padding: 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .header {
  display: flex;
  flex-direction: row;
} */

.list {
  width: 1500px;
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

footer {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  display: flex;
  margin-top: 10000px;
  justify-content: space-between;
  padding: 10px; /* Add padding as needed */
  background-color: #db4b4b; /* Add your desired background color for footer */
}

footer img {
  width: 50px; /* Adjust to desired size for footer buttons */
  height: 50px; /* Adjust to desired size for footer buttons */
  margin-left: 10px; /* Add margin between footer buttons as needed */
}

nav ul {
  display: flex;
  justify-content: center; /* Adjust to align items as needed */
  align-items: center; /* Adjust to align items as needed */
  list-style-type: none;
}

nav ul li {
  margin: 0 10px; /* Add margin between navbar items as needed */
}

nav ul li a {
  text-decoration: none;
  color: #000; /* Add your desired color for navbar links */
}

.share-button {
  height: 10px;
}

.b1 {
  margin-right: 500px;
  margin-left: 500px;
}

.change {
  display: flex;
}